﻿@model InventarioDev.Models.Pedido

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PedidoId" />
            <div class="form-group">
                <label asp-for="NombrePedido" class="control-label"></label>
                <input asp-for="NombrePedido" class="form-control" />
                <span asp-validation-for="NombrePedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaReserva" class="control-label"></label>
                <input asp-for="FechaReserva" class="form-control" />
                <span asp-validation-for="FechaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepuestoIdRepuesto" class="control-label"></label>
                <select asp-for="RepuestoIdRepuesto" class="form-control" asp-items="ViewBag.RepuestoIdRepuesto"></select>
                <span asp-validation-for="RepuestoIdRepuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteIdCliente" class="control-label"></label>
                <select asp-for="ClienteIdCliente" class="form-control" asp-items="ViewBag.ClienteIdCliente"></select>
                <span asp-validation-for="ClienteIdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventarioIdAppInventario" class="control-label"></label>
                <select asp-for="InventarioIdAppInventario" class="form-control" asp-items="ViewBag.InventarioIdAppInventario"></select>
                <span asp-validation-for="InventarioIdAppInventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
