﻿@model IEnumerable<InventarioDev.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteIdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioIdAppInventarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepuestoIdRepuestoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteIdClienteNavigation.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventarioIdAppInventarioNavigation.InventarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepuestoIdRepuestoNavigation.RepuestoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PedidoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PedidoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PedidoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
